name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
    
    - name: Get Dependencies
      working-directory: ./medicine_reminder_app
      run: flutter pub get

    # CHANGE 1: Use --debug instead of --release
    - name: Build APK
      working-directory: ./medicine_reminder_app
      run: flutter build apk --debug

    # CHANGE 2: Look for 'app-debug.apk' instead of 'app-release.apk'
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: medicine-reminder-apk
        path: medicine_reminder_app/build/app/outputs/flutter-apk/app-debug.apk
